{%- if section.blocks.size > 0 -%}
  <div class="faq" data-section-id="{{ section.id }}" data-section-type="faq">
    {%- render 'faq', section: section -%}
  </div>
{%- endif -%}

{% schema %}
{
  "name": "アコーディオン",
  "class": "accordions-holder",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "見出し",
      "default": "FAQ"
    }
  ],
  "blocks": [
    {
      "type": "@app"
    },
    {
      "name": "テキストカラム",
      "type": "text",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "見出し",
          "default": "Frequently asked question"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "テキスト",
          "default": "<p>Use this to answer some common questions you hear from your customers. You could discuss product details, size fit, shipping policies, or anything you think would help merchants make an informed decision about your products. This section will appear across all products.</p>"
        }
      ]
    },
    {
      "name": "画像カラム",
      "type": "image",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "見出し",
          "default": "画像の見出し"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "テキスト",
          "default": "<p>Use this to answer some common questions you hear from your customers. You could discuss product details, size fit, shipping policies, or anything you think would help merchants make an informed decision about your products. This section will appear across all products.</p>"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "画像"
        },
        {
          "type": "select",
          "id": "bg_position",
          "label": "位置",
          "default": "center-center",
          "options": [
            { "label": "上", "value": "center-top" },
            { "label": "右", "value": "right-center" },
            { "label": "中央", "value": "center-center" },
            { "label": "左", "value": "left-center" },
            { "label": "下", "value": "center-bottom" }
          ]
        },
        {
          "type": "range",
          "id": "aspect_ratio",
          "min": 0.3,
          "max": 1.5,
          "step": 0.1,
          "unit": ":1",
          "label": "画像比率",
          "info": "横長 ⇔ 縦長",
          "default": 0.6
        }
      ]
    },
    {
      "type": "icon",
      "name": "アイコンカラム",
      "settings": [
      {
          "type": "select",
          "id": "icon_name",
          "label": "アイコン",
          "default": "icon-award",
          "options": [
            { "value": "icon-award", "label": "Award" },
            { "value": "icon-basket-like", "label": "Basket like" },
            { "value": "icon-basket-return", "label": "Basket return" },
            { "value": "icon-cart-check", "label": "Cart check" },
            { "value": "icon-cart-message", "label": "Cart message" },
            { "value": "icon-chat", "label": "Chat" },
            { "value": "icon-dollar", "label": "Dollar" },
            { "value": "icon-email", "label": "Email" },
            { "value": "icon-lock-card", "label": "Lock card" },
            { "value": "icon-lock-shield", "label": "Lock shield" },
            { "value": "icon-lock-window", "label": "Lock window" },
            { "value": "icon-payment", "label": "Payment" },
            { "value": "icon-phone", "label": "Phone" },
            { "value": "icon-rating", "label": "Rating" },
            { "value": "icon-send", "label": "Send" },
            { "value": "icon-shipment-world", "label": "Shipment world" },
            { "value": "icon-shipment", "label": "Shipment" },
            { "value": "icon-store", "label": "Store" },
            { "value": "icon-support-headphones", "label": "Support headphones" },
            { "value": "icon-truck", "label": "Truck" }
          ]
        },
        {
          "type": "color",
          "id": "icon_color",
          "label": "アイコンの色",
          "default": "#AAAAAA"
        },
        {
          "type": "text",
          "id": "title",
          "label": "見出し",
          "default": "アイコン見出し"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "テキスト",
          "default": "<p>お客様からよく聞かれる質問に答えるためにご利用ください。製品の詳細、サイズの適合性、配送ポリシーなど、販売者が製品について十分な情報を得た上で決断するのに役立つと思われることを何でも説明できます。このセクションは、すべての製品に表示されます。</p>"
        }
      ]
    },
    {
      "type": "html",
      "name": "カスタムHTML",
      "settings": [
        {
          "type": "html",
          "id": "html",
          "label": "カスタムHTML",
          "default": "<p>HTMLを追加できます。</p>"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "アコーディオン",
      "category": "テキスト",
      "blocks": [
        {
          "type": "text"
        },
        {
          "type": "text"
        },
        {
          "type": "text"
        },
        {
          "type": "text"
        }
      ]
    }
  ]
}
{% endschema %}
