{%- render 'announcement' section: section, is_top: false -%}

{% schema %}
{
  "name": "アナウンスバー",
  "settings": [
    {
      "type": "header",
      "content": "色"
    },
    {
      "type": "color",
      "id": "bg_color",
      "label": "背景色",
      "default": "#f7f7f7"
    },
    {
      "type": "color",
      "id": "color",
      "label": "文字の色",
      "default": "#545454"
    },
    {
      "type": "header",
      "content": "レイアウト"
    },
    {
      "type": "select",
      "id": "layout",
      "label": "レイアウト",
      "default": "marquee",
      "options": [
        {
          "value": "slider",
          "label": "スライダー"
        },
        {
          "value": "marquee",
          "label": "マーキー"
        }
      ]
    },
    {
      "type": "header",
      "content": "スライダー"
    },
    {
      "type": "range",
      "id": "speed",
      "label": "自動再生の速度",
      "unit": "sec",
      "min": 5,
      "max": 20,
      "step": 1,
      "default": 7
    }
  ],
  "blocks" : [
    {
      "type": "text",
      "name": "テキストアナウンス",
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "label": "テキスト",
          "default": "<p><strong>Make an announcement</strong> | More info</p>"
        },
        {
          "type": "header",
          "content": "対象のページ"
        },
        {
          "id": "target_url_enabled",
          "type": "checkbox",
          "label": "特定のページに限定する"
        },
        {
          "id": "target_url",
          "type": "url",
          "label": "対象のページ"
        },
        {
          "type": "header",
          "content": "対象リファラー"
        },
        {
          "id": "target_referrer_enabled",
          "type": "checkbox",
          "label": "特定のリファラーパスに限定する"
        },
        {
          "id": "target_referrer",
          "type": "text",
          "label": "対象のリファラー"
        },
        {
          "type": "header",
          "content": "対象のデバイス"
        },
        {
          "id": "target_device_enabled",
          "type": "checkbox",
          "label": "デスクトップまたはモバイルに限定する"
        },
        {
          "type": "select",
          "id": "target_device",
          "label": "デバイス",
          "default": "mobile",
          "options": [
            {"value": "mobile", "label": "モバイルのみ"},
            {"value": "desktop", "label": "デスクトップのみ"}
          ]
        }
      ]
    },
    {
      "type": "message",
      "name": "無料配送のメッセージ",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "show_wheel",
          "label": "プログレスホイールの表示",
          "default": true
        },
        {
          "type": "textarea",
          "id": "message",
          "label": "メッセージ",
          "info": "||amount||を使うことで無料配送までの金額を表示することができます",
          "default": "無料配送まで残り ||amount|| です。"
        },
        {
          "type": "paragraph",
          "content": "Navigate to Theme settings -> \"Cart -> Free shipping message\" to set the amount."
        },
        {
          "type": "header",
          "content": "対象のページ"
        },
        {
          "id": "target_url_enabled",
          "type": "checkbox",
          "label": "特定のページに限定するe"
        },
        {
          "id": "target_url",
          "type": "url",
          "label": "対象のページ"
        },
        {
          "type": "header",
          "content": "対象リファラー"
        },
        {
          "id": "target_referrer_enabled",
          "type": "checkbox",
          "label": "特定のリファラーパスに限定する"
        },
        {
          "id": "target_referrer",
          "type": "text",
          "label": "対象のリファラー"
        },
        {
          "type": "header",
          "content": "対象のデバイス"
        },
        {
          "id": "target_device_enabled",
          "type": "checkbox",
          "label": "デスクトップまたはモバイルに限定する"
        },
        {
          "type": "select",
          "id": "target_device",
          "label": "デバイス ",
          "default": "mobile",
          "options": [
            {"value": "mobile", "label": "モバイルのみ"},
            {"value": "desktop", "label": "デスクトップのみ"}
          ]
        }
      ]
    },
    {
      "type": "custom",
      "name": "カスタムHTML",
      "settings": [
        {
          "type": "html",
          "id": "text",
          "label": "テキスト",
          "default": "<p>カスタムHTML</p>"
        },
        {
          "type": "header",
          "content": "対象のページ"
        },
        {
          "id": "target_url_enabled",
          "type": "checkbox",
          "label": "特定のページに限定する"
        },
        {
          "id": "target_url",
          "type": "url",
          "label": "対象のページ"
        },
        {
          "type": "header",
          "content": "対象リファラー"
        },
        {
          "id": "target_referrer_enabled",
          "type": "checkbox",
          "label": "特定のリファラーパスに限定する"
        },
        {
          "id": "target_referrer",
          "type": "text",
          "label": "対象のリファラー"
        },
        {
          "type": "header",
          "content": "対象のデバイス"
        },
        {
          "id": "target_device_enabled",
          "type": "checkbox",
          "label": "デスクトップまたはモバイルに限定する"
        },
        {
          "type": "select",
          "id": "target_device",
          "label": "デバイス",
          "default": "mobile",
          "options": [
            {"value": "mobile", "label": "モバイルのみ"},
            {"value": "desktop", "label": "デスクトップのみ"}
          ]
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "アナウンスバー",
      "category": "テキスト",
      "blocks": [
        {
          "type": "text",
          "settings": {
            "text": "<p><strong>Make an announcement</strong> | Target to specific devices or referrers</p>"
          }
        },
        {
          "type": "text",
          "settings": {
            "text": "<p><strong>Create a free shipping countdown</strong></p>"
          }
        },
        {
          "type": "message",
          "settings": {
            "show_wheel": false
          }
        },
        {
          "type": "text",
          "settings": {
            "text": "<p><strong>Create a scrolling marquee or a simple announcement</strong></p>"
          }
        }
      ]
    }
  ]
}
{% endschema %}
