<!-- /sections/section-hero.liquid -->

<div class="section-video wide-image js-overflow-container {{ section.settings.text_color }}"
  data-section-id="{{ section.id }}"
  data-section-type="featured-video"
  data-overlay-header>
  {% render 'video' section: section %}
</div>

{% schema %}
{
  "name": "ビデオ",
  "class": "section-fullscreen",
  "settings": [
    {
      "type": "text",
      "id": "video_link_bg",
      "label": "背景リンク",
      "info": "[files](/admin/settings/files)からMP4のリンクを取得"
    },
    {
      "type": "text",
      "id": "video_link",
      "label": "ポップアップリンク",
      "info": "YouTube、Vimeoからの動画リンク、またはMP4ファイルリンク"
    },
    {
      "type": "header",
      "content": "画像"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "画像"
    },
    {
      "type": "image_picker",
      "id": "mobile_image",
      "label": "モバイル用画像"
    },
    {
      "type": "select",
      "id": "bg_position",
      "label": "位置",
      "default": "center-center",
      "options": [
        { "label": "上", "value": "center-top" },
        { "label": "右", "value": "right-center" },
        { "label": "中央", "value": "center-center" },
        { "label": "左", "value": "left-center" },
        { "label": "下", "value": "center-bottom" }
      ]
    },
    {
      "type": "select",
      "id": "height",
      "label": "高さ",
      "default": "screen-height-three-quarters",
      "options": [
        { "value": "screen-height-full", "label": "画面いっぱい"},
        { "value": "screen-height-three-quarters", "label": "画面の3/4"},
        { "value": "screen-height-two-thirds", "label": "画面の2/3"},
        { "value": "screen-height-one-half", "label": "画面の1/2"},
        { "value": "screen-height-one-third", "label": "画面の1/3"},
        { "value": "seven-fifty-height-hero", "label": "750px" },
        { "value": "sixty-fifty-height-hero", "label": "650px" },
        { "value": "five-fifty-height-hero ", "label": "550px" },
        { "value": "four-fifty-height-hero", "label": "450px" },
        { "value": "image-height", "label": "オリジナル画像" }
      ]
    },
    {
      "type": "header",
      "content": "オーバーレイ"
    },
    {
      "type": "range",
      "id": "overlay_opacity",
      "label": "透過",
      "info": "文字を読みやすくするために、コントラストを上げる",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "%",
      "default":0
    },
    {
      "type": "color",
      "id": "overlay_color",
      "label": "オーバーレイの色",
      "default": "#000"
    },
    {
      "type": "header",
      "content": "テキスト"
    },
    {
      "type": "text",
      "id": "title",
      "label": "見出し",
      "default": "ビデオ"
    },
    {
      "type": "textarea",
      "id": "description",
      "label": "サブ見出し",
      "default": "画像でブランドのストーリーを伝える。"
    },
    {
      "type": "select",
      "id": "flex_align",
      "label": "ブロックの位置",
      "default": "align--middle-center",
      "options": [
        { "value": "align--top-left", "label": "上-左"},
        { "value": "align--top-center", "label": "上-中央"},
        { "value": "align--top-right", "label": "上-右"},
        { "value": "align--middle-left", "label": "中央-左"},
        { "value": "align--middle-center", "label": "中央-中央"},
        { "value": "align--middle-right", "label": "中央-右"},
        { "value": "align--bottom-left", "label": "下-左"},
        { "value": "align--bottom-center", "label": "下-中央"},
        { "value": "align--bottom-right", "label": "下-右"}
      ]
    },
    {
      "type": "select",
      "id": "text_color",
      "label": "テキストの色",
      "default": "text-light",
      "options": [
        { "value": "text-light", "label": "白"},
        { "value": "text-dark", "label": "ダーク"}
      ]
    },
    {
      "type": "checkbox",
      "id": "transparent",
      "label": "背景を透過する",
      "default": true
    },
    {
      "type": "header",
      "content": "ボタン"
    },
    {
      "type": "text",
      "id": "link_text",
      "label": "テキスト",
      "default": "View products",
      "info": "画像全体をリンクする場合は空白にする"
    },
    {
      "type": "url",
      "id": "link",
      "label": "リンク"
    },
    {
      "type": "select",
      "id": "button_color",
      "label": "色",
      "default": "btn--white",
      "options": [
        {"value": "btn--primary", "label": "メインアクセント色"},
        {"value": "btn--secondary", "label": "サブアクセント色"},
        {"value": "btn--link", "label": "リンクの色"},
        {"value": "btn--neutral", "label": "文字の色"},
        {"value": "btn--black", "label": "黒色"},
        {"value": "btn--white", "label": "白色"}
      ]
    },
    {
      "type": "select",
      "id": "button_style",
      "label": "スタイル",
      "default": "hero__btn btn btn--large btn--outline caps",
      "options": [
            {"value": "caps--large", "label": "文字のみを表示"},
            {"value": "hero__btn btn btn--input caps", "label": "小さいボタン"},
            {"value": "hero__btn btn btn--large caps", "label": "大きいボタン"},
            {"value": "hero__btn btn btn--input btn--outline caps", "label": "小さいボタン（枠あり）"},
            {"value": "hero__btn btn btn--large btn--outline caps", "label": "大きいボタン（枠あり）"}
      ]
    }
  ],
  "presets": [
    {
      "name": "ビデオ",
      "category": "画像"
    }
  ]
}
{% endschema %}
