.common__inner{
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
}
.collection-item__info{
  background-image:linear-gradient(60deg, #E0E0E0 50%, #004EA2 50%);
  padding:10px 20px;
  position: relative;
  min-height: 68px;
  display: flex;
  align-self: center;
}
.collection-item__info::before{
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top:0;
  left: 0;
  content: '';
  background-image:linear-gradient(60deg, transparent 50%, #004EA2 50%,#004EA2 51%,transparent 51%);
  background-position: -10px;
}
.collection-item__maintitle{
  font-size: 20px;
  position: absolute;
  text-align: center;
  z-index: 1;
  width: 90%;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
}
.collectino-item__maintitle-en{
  font-family: "Anton";
  font-size: 24px;
  line-height: 1;
  text-align: left;
  display: flex;
  align-items: center;
}
@media only screen and (min-width:750px) {
  .collection-item__maintitle{
    font-size: 28px;
  }
  .collection-item__info{
    background-image:linear-gradient(45deg, #E0E0E0 50%, #004EA2 50%);
    padding:10px 20px;
    min-height: 87px;
  }
  .collection-item__info::before{
    background-image:linear-gradient(45deg, transparent 50%, #004EA2 50%,#004EA2 51%,transparent 51%);
    background-position: -10px;
  }
  .collectino-item__maintitle-en{
    font-size: 32px;
  }
}

/* Insta */
#shopify-section-template--15728943661315__164303364231f347e9{
  background-color: #fafafa;
  padding-bottom: 80px;
}
/* shame css */
#shopify-section-template--15716996841731__164303364231f347e9{
  background-color: #fafafa;
  padding-bottom: 80px;
}

.text-row-delivery{
  display: flex;
}
.text-row-delivery__image{
  width: 30%;
}
.text-row-delivery__image img{
  width: 100%;
}
.text-row-delivery__text{
  width: calc(70% - 30px);
  margin-left: 30px;
}
.text-row-delivery__text--emphasis{
  font-size: 32px;
  color: #932020;
  font-weight: bold;
}
@media only screen and (min-width:1280px) {
  .text-row-delivery__text--emphasis{
    font-size: 40px;
  }
}
.opentime{
  background-color: #f0f0f0;
  width: fit-content;
  font-weight: bold;
  padding: 5px;
}
.icon__column__text .telnum{
  font-size: 32px;
}
.opentime span{
  font-size: 16px;
  font-weight: bold;
}

/* footer */
.site-footer__main{
  width: 100%;
  margin-top: 80px;
}
.site-footer__sub{
  width: 100%;
}
.site-footer-main__image{
  text-align: center;
}
@media only screen and (min-width:1280px) {
  .site-footer-main__image{
    text-align: left;
  }
  .site-footer__main{
    width: 35%;
    margin-top: 0;
  }
  .site-footer__sub{
    width: 65%;
  }
}
.site-footer-main__info{
  color:#000;
}
.site-footer-main__info table,
.site-footer-main__info tr,
.site-footer-main__info td{
  border:none;
}
.site-footer-main-sns__list{
  list-style: none;
  display: flex;
  padding-left: -1rem;
  margin-left: 0;
}
.site-footer-main-sns__link{
  display: inline-block;
  padding: 1rem;
}
